.stats-box {
  padding: 25px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  color: white;
  text-align: center;
  transition: 0.2s;
  margin: 10px 0;
}

.stats-box:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px !important;
  transform: scale3d(1.01, 1.01, 1.01) !important;
}

.stats-box h3 {
  margin: 0;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stats-box span {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
}

.red-box {
  background: #eb1d36;
}

.green-box {
  background: #3ccf4e;
}

.yellow-box {
  background: #e0cc18 !important;
}

.blue-box {
  background: #3ab4f2;
}

.purple-box {
  background: #937dc2;
}

.orange-box {
  background: #fbb454;
}
