<div class="header" style="background-color: #f6f6f6; padding: 15px 30px;">
    <img src="https://i.postimg.cc/YCKytpK3/Nelami-Logo.png" alt="Nelami Logo" style="width: 200px; height: auto; display: block; margin: 0 auto;" />
</div>