<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Nelami</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Welcome Email" />
    <meta name="author" content="Muhammad Hamza" />
    <style type="text/css">
        /* Base styles */
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #fafafa;
            color: #222222;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            margin-top: 0;
            margin-bottom: 24px;
        }

        /* Layout styles */
        .wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .body {
            padding: 30px;
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <%- include('./includes/header.ejs') %>
        <div class="body">
            <h1>Welcome to Nelami</h1>
            <p>Hi <%= user.name %>,</p>

            <% if (user.role === 'buyer') { %>
                <p>
                    Welcome to Nelami! As a buyer, you can explore and bid on a variety of products listed by our sellers. Start bidding and win amazing items at competitive prices!
                </p>
            <% } else if (user.role === 'seller') { %>
                <p>
                    Welcome to Nelami! As a seller, you can list your products for auction and reach a wide audience of buyers. Start posting your items and get the best prices for your products!
                </p>
            <% } %>

            <p>
                We're excited to see what you'll achieve with Nelami!
            </p>
        </div>
        <%- include('./includes/footer.ejs') %>
    </div>
</body>

</html>
