/* body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    margin-top: 3em;
    box-sizing: border-box;
} */

.hero-slider {
    width: 86%;
    height: 390px;
}

.hero-slider .swiper-slide:first-child img {
    transform: translateY(46px);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}


.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slider-container .slide-img-wrapper {
    flex: 2.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container .content {
    flex: 1;
    text-align: left;
}

.slider-container .content h2,
.slider-container .content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #333e48;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0px;
    line-height: 1em;
}

.slider-container .content p {
    color: rgb(43, 43, 43);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

.slider-container .content>p>span {
    font-weight: 700;
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
    color: #333e48;
}

.slider-container .content .btn {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(66, 66, 66);
    background: #FFD600;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    outline: none;
    border: none;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.slider-container .content .btn:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.slider-container .content .btn:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.slider-container .content .btn:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}


.swiper-slide img {
    width: 100%;
    /* height: 90%; */
    object-fit: contain;
}